<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="SignServicesSoapBinding" />
                <binding name="ArubaSignServicePortBinding" messageEncoding="Mtom">
                    <security mode="Transport" />
                </binding>
                <binding name="ArubaSignServicePortBinding1" messageEncoding="Mtom" />
                <binding name="VerificationServiceSOAPBinding" messageEncoding="Mtom">
                    <security mode="Transport" />
                </binding>
                <binding name="VerificationServiceSOAPBinding1" messageEncoding="Mtom" />
                <binding name="ArubaSignServicePortBinding2" messageEncoding="Mtom">
                    <security mode="Transport" />
                </binding>
                <binding name="ArubaSignServicePortBinding3" messageEncoding="Mtom" />
                <binding name="VerificationServiceSOAPBinding2" messageEncoding="Mtom" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://calamaio.regionemarche.intra:8080/EjbCalamaio/SignServices/SignServices"
                binding="basicHttpBinding" bindingConfiguration="SignServicesSoapBinding"
                contract="svcCalamaioRemoteSign.SignServicesPortType" name="SignServicesPort" />
            <endpoint address="https://asbr.regionemarche.actalis.it:443/ArubaSignService/ArubaSignService"
                binding="basicHttpBinding" bindingConfiguration="ArubaSignServicePortBinding2"
                contract="svcArubaSignProduzione.ArubaSignService" name="ArubaSignServicePort1" />
            <endpoint address="https://arss.demo.firma-automatica.it:443/ArubaSignService/ArubaSignService"
                binding="basicHttpBinding" bindingConfiguration="ArubaSignServicePortBinding"
                contract="svcArubaSignTest.ArubaSignService" name="ArubaSignServicePort" />
            <endpoint address="https://vol.demo.firma-automatica.it:443/actalisVol/services/VerificationServiceSOAP"
                binding="basicHttpBinding" bindingConfiguration="VerificationServiceSOAPBinding"
                contract="svcArubaVolTest.VerificationService" name="VerificationServiceSOAP" />
            <endpoint address="http://vol.regionemarche.intra:8081/actalisVol/services/VerificationServiceSOAP"
                binding="basicHttpBinding" bindingConfiguration="VerificationServiceSOAPBinding2"
                contract="svcArubaVolProduzione.VerificationService" name="VerificationServiceSOAP1" />
        </client>
    </system.serviceModel>
</configuration>