<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="progetto_schema_dir" value="resources/IstanzaProgetto_rev2.xsd"/>
    <add key="bando_schema_dir" value="resources/IstanzaBando_rev2.xsd"/>
    <add key="domanda_pagamento_schema_dir" value="resources/IstanzaDomandaPagamento_rev1.xsd"/>
    <add key="domanda_anticipo_schema_dir" value="resources/IstanzaDomandaAnticipo.xsd"/>
    <add key="domanda_variante_schema_dir" value="resources/IstanzaDomandaVariante_rev1.xsd"/>
    <add key="id_standard_checklist" value="246"/>
    <add key="id_quadro_investimenti" value="7"/>
    <add key="id_quadro_monitoraggio" value="30"/>
    <add key="id_quadro_localizzazione" value="31"/>
    <add key="id_priorita_set_minimo_singole" value="466,467,469,470,471,1778,1779,1780,1781"/>
    <add key="id_priorita_set_minimo_gruppi" value="466,467,469,470,471,2015,2016,2017,2018"/>
    <add key="id_scheda_valutazione_singole" value="149"/>
    <add key="id_scheda_valutazione_gruppi" value="150"/>
    <add key="id_requisiti_pag_anticipo" value="13,14,15,17"/>
    <add key="id_requisiti_pag_sal" value="13,14,15,17"/>
    <add key="id_requisiti_pag_saldo" value="13,18,15,17"/>
    <add key="id_requisito_pag_controllo" value="15"/>
    <add key="id_requisiti_variante" value="28,27,127"/>
    <add key="id_requisiti_var_controllo" value="27,127"/>
    <add key="id_requisito_var_controllo" value="27"/>
  </appSettings>
  <connectionStrings>
    <add name="DB_SIGEF" connectionString="" providerName="System.Data.SqlClient"/>
    <add name="DB_ATTIWEB" connectionString="" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2"/>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding>
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>
        <binding name="BasicHttpBinding_IAttiwebService" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="100000000" maxBufferPoolSize="524288" maxReceivedMessageSize="100000000" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="100000000" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
      <!--<wsHttpBinding>
        <binding>
          <security mode="None">
            <transport clientCredentialType="None"/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </wsHttpBinding>-->
    </bindings>
    <extensions>
      <behaviorExtensions>
        <add name="xmlLoggingServiceBehavior" type="WsSigef.XmlLoggingServiceBehaviorExtensionElement, WsSigef, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior name="XmlLoggingBehavior">
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="WsSigef.ServiceAuthenticator, WsSigef"/>
          </serviceCredentials>
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="false" />
          <dataContractSerializer maxItemsInObjectGraph="2147483647"/>
          <xmlLoggingServiceBehavior />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" minFreeMemoryPercentageToActivateService="0"/>
    <services>
      <service name="WsSigef.SigefService" behaviorConfiguration="XmlLoggingBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="WsSigef.ISigefService" />
      </service>
    </services>
    <client>
      <endpoint
        address="http://openact.regione.marche.it/DemaServices/AttiwebService.svc"
        binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IAttiwebService"
        contract="AttiwebService.IAttiwebService"
        name="BasicHttpBinding_IAttiwebService" />
    </client>
    <!--<diagnostics>
      <messageLogging
           logEntireMessage="true"
           logMalformedMessages="true"
           logMessagesAtServiceLevel="true"
           logMessagesAtTransportLevel="true"
           maxMessagesToLog="3000"/>
    </diagnostics>-->
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="false"/>
  </system.webServer>
  <!--<system.diagnostics>
    <sources>
      -->
  <!--<source name="System.ServiceModel.MessageLogging">-->
  <!--
      <source name="System.ServiceModel"
            switchValue="Information, ActivityTracing"
            propagateActivity="true">
        <listeners>
          <add name="messages"
               type="System.Diagnostics.XmlWriterTraceListener"
               initializeData="c:\logs\messages.svclog" />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>-->
</configuration>
