<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
	  <add key="WsPaleoUrl" value="https://paleows.regione.marche.it/PaleoWebServices2020R_MARCHE/PaleoWebService.svc"/>
      <add key="DownloadRootPath" value="@C:\Sigef_Downloads/"/>
	  <add key="daysToRetain" value="1"/>	
      <add key="enable_log" value="false"/>
    </appSettings>
	<connectionStrings>
		<add name="DB_SIGEF" connectionString="" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IPaleoService" closeTimeout="00:02:00" openTimeout="00:02:00" receiveTimeout="00:10:00" sendTimeout="00:02:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="2147483647" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
					<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="2147483647"/>
					<security mode="TransportWithMessageCredential">
						<transport clientCredentialType="None" proxyCredentialType="None" realm=""/>
						<message clientCredentialType="UserName" algorithmSuite="Default"/>
					</security>
				</binding>
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="https://arturo.regionemarche.intra/Paleo4/PaleoWebServicesR_MARCHE/PaleoWebService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPaleoService" contract="paleoWebService.IPaleoService" name="BasicHttpBinding_IPaleoService"/>
		</client>
	</system.serviceModel>
</configuration>