<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
	  <add key="LogSuFile" value="C:\NotificheBatch-[DATETIME].log"/>
	  <add key="periodoEsecuzione" value="h"/> <!-- m = viene eseguito 1 volta al minuto; h = 1 volta l'ora-->
  </appSettings>
  <connectionStrings>
	<add name="DB_SIGEF" connectionString="" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
