<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="usernameCUP" value=""/>
    <add key="passwordCUP" value=""/>
  </appSettings>
  <connectionStrings>   
    <add name="DB_SIGEF" connectionString="" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="cup_bind" closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:05:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferSize="1655360" maxBufferPoolSize="524288" maxReceivedMessageSize="1655360" messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <!--<endpoint address="http://pddnica.regione.marche.it/PdDRegioneMarche/PD/SPCMarcheSoggettoFruitore/SPCRagioneriaGeneraleStato/SPCElaborazioniCUP/RichiestaRispostaSincrona_RichiestaGenerazioneCUP" binding="basicHttpBinding" bindingConfiguration="cup_bind" contract="svcCUP.ElaborazioniCUP" name="cup_bind_RichiestaGenerazioneCUP"/>-->
      <endpoint address="http://pddnica.regionemarche.intra/PdDRegioneMarche/PD/SPCMarcheSoggettoFruitore/SPCRagioneriaGeneraleStato/SPCElaborazioniCUP/RichiestaRispostaSincrona_RichiestaGenerazioneCUP" binding="basicHttpBinding" bindingConfiguration="cup_bind" contract="svcCUP.ElaborazioniCUP" name="cup_bind_RichiestaGenerazioneCUP"/>
    </client>
  </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
