<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SiarLibrary.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SiarLibrary.Web.Properties.Settings>
            <setting name="SiarLibrary_Web_WsReportingService2010_ReportingService2010" serializeAs="String">
                <value>http://10.101.12.233:80/ReportServer/ReportService2010.asmx</value>
            </setting>
            <setting name="SiarLibrary_Web_WsReportExecutionService_ReportExecutionService" serializeAs="String">
                <value>http://10.101.12.233:80/ReportServer/ReportExecution2005.asmx</value>
            </setting>
        </SiarLibrary.Web.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
