<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Credenziali WS RNA-->
    <add key="usernameRNA" value=""/>
    <add key="passwordRNA" value=""/>
  </appSettings>
  <system.serviceModel>
      <bindings>
          <basicHttpBinding>
              <binding name="RnasServiceImplServiceSoapBinding">
                  <security mode="Transport" />
              </binding>
              <binding name="RnasServiceImplServiceSoapBinding1" />
          </basicHttpBinding>
      </bindings>
      <client>
          <endpoint address="https://rasecl.infocamere.it/raseWeb/wssoap/rnas"
              binding="basicHttpBinding" bindingConfiguration="RnasServiceImplServiceSoapBinding"
              contract="svcRna.RnasService" name="rnasWSPort" />
      </client>
  </system.serviceModel>
</configuration>